.header-section {
  display: flex;
  height: 70px;
  border-bottom: 1px solid #c6c6c6;
  margin-bottom: 20px;
  box-shadow: 6px 9px 7px -6px rgba(0,0,0,0.2);

  .title {
    margin: auto 30px auto 20px;
    padding: 12px 20px 12px 0;
    border-right: 2px solid #666;
    width: max-content;
  }

  h1 {
    font-size: 1.75em;
    white-space: nowrap;
    margin: 0;
  }

  .description {
    margin: auto auto auto 0;

    @media screen and (max-width: 560px) {
      p {
        display: none;
        width: auto;
      }
    }

    p {
      margin: 5px 0 0 0;
      width: auto;
    }



    span {
      font-size: 1.25em;
      font-weight: 700;
    }
  }

  ul {
    display: contents;

    .user-link {
      display: flex;
      cursor: pointer;
      height: 100%;
      width: 70px;
      list-style-type: none;

      .icon-in {
        display: flex;
        mask: url(/assets/icons/account_circle/account_circle.svg) no-repeat 50% 50%;
        height: 60px;
        width: 60px;
        mask-size: contain;
        background-color: #e2e2e2;
        margin: 5px;
      }

      .icon-out {
        display: flex;
        mask: url(/assets/icons/account_circle/account_circle.svg) no-repeat 50% 50%;
        height: 60px;
        width: 60px;
        mask-size: contain;
        background-color: #d2d2d2;
        margin: 5px;
      }
    }
  }
}
