.overlay {
  position: fixed;
  display: flex;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0,0,0,0.5);
  z-index: 2;
  cursor: pointer;

  .content {
    display: flex;
    flex-direction: column;
    width: 90%;
    height: 90%;
    margin: auto;
    background: #fff;
    cursor: auto;
    overflow: auto;

    .profile-header {
      display: flex;

      .btn-normal {
        border-radius: 0;
      }
    }

    .row {
      display: flex;
      border-bottom: 1px solid #d2d2d2;
      margin: 0 8px 0 8px;
      cursor: pointer;
    }

    .date {
      padding: 8px;
      margin: 8px 0;
      white-space: nowrap;
      border-right: 1px solid #d2d2d2;
    }

    .reference {
      padding: 8px;
      margin: 8px 0;
      min-width: max-content;
      width: 50px;
    }

    .notes {
      padding: 8px;
      margin: 8px 0;
      width: auto;
      overflow: hidden;
      white-space: nowrap;
      border-left: 1px solid #d2d2d2;
    }
  }
}
