<div *ngIf="canView" class="overlay">
  <div class="content container-section">
    <div class="section-header profile-header">
      <h2>Booking Note History</h2>
      <button class="btn-normal" (click)="onRefresh()">Refresh</button>
      <button class="btn-normal" (click)="onLogout()">Logout</button>
      <button (click)="onClose()">X</button>
    </div>
    <p *ngIf="bookings.length <= 0">You have no saved bookings yet!</p>
    <a class="row" *ngFor="let booking of bookings; let i = index" [id]="i" (click)="onBookingSelect($event.target)">
      <p [id]="i" class ="date">{{booking.dateTimeStamp | date: "dd MMM yyyy hh:mm:ss"}}</p>
      <p [id]="i" class="reference">{{booking.reference ? booking.reference : '...'}}</p>
      <p [id]="i" class="notes">{{booking.outputNotes}}</p>
    </a>
  </div>
</div>
