$btn-color: #fff;
$btn-hover-color: #eee;
$btn-active-color: #ddd;

.content {
  //display: flex;
  margin-top: 0;

  .section-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }

  .tab-header {
    width: 100%;
  }

  .field-section {
    margin-left: 10px;
    margin-right: 10px;

    @media screen and (min-width: 1000px) {
      //width: 47%;
    }

    @media screen and (max-width: 1000px) {
      //width: 96%;
      grid-column: span 2;
    }

    .fields-header {
      display: flex;
    }

    .fields {
      display: grid;
      grid-template-columns: min-content max-content auto 5em;
      width: 98%;
      margin: 16px auto 16px auto;

      .title {
        border-bottom: 1px solid #666666;
      }

      .title-text {
        margin: 2px;
        text-align: center;
      }

      .cb {
        margin: auto;
      }

      .field {
        padding: 3px 5px;
        margin: 2px;
      }

      .id {
        font-family: Consolas;
      }

      .text-area {
        grid-column: 1/-1;
        resize: vertical;
        overflow-x: auto;
      }

      .booking-text-area {
        grid-column: 1/-1;
        min-height: 250px;
        white-space: pre;
        resize: vertical;
        overflow-x: auto;
      }
    }

  }

  .booking-notes {
  }
}
