<section class="content">
  <div class="section-container">
    <section class="field-section">
      <div class="section-header fields-header">
        <h2>Bike Assessment</h2>
      </div>
      <h3>Brakes</h3>
      <div class="fields" id="defaultFields">
        <input class="title cb" type="checkbox" id="extraSelectAll" />
        <span class="title title-text">Item</span>
        <span class="title title-text">Notes</span>
        <ng-container id="extraFields" class="row">
          <input class="cb" type="checkbox" id="pads" />
          <span class="field">Pads</span>
          <input type="text" id="padNotes" class="field" [value]="title" (change)="onFieldChange($event.target)" />
          <input class="cb" type="checkbox" id="feel" />
          <span class="field">Lever Feel</span>
          <input type="text" [id]="" [value]="" class="field" />
          <input class="cb" type="checkbox" id="bleed" />
          <span class="field">Bleed</span>
          <input type="text" [id]="" [value]="" class="field" />
        </ng-container>
      </div>
      <h3>Wheels</h3>
      <div class="fields" id="defaultFields">
        <input class="title cb" type="checkbox" id="extraSelectAll" />
        <span class="title title-text">Item</span>
        <span class="title title-text">Notes</span>
        <ng-container id="extraFields" class="row">
          <input class="cb" type="checkbox" id="tyres" />
          <span class="field">Tyres</span>
          <input type="text" [id]="" [value]="" class="field" />
          <input class="cb" type="checkbox" id="spokes" />
          <span class="field">Spokes</span>
          <input type="text" [id]="" [value]="" class="field" />
          <input class="cb" type="checkbox" id="true" />
          <span class="field">True</span>
          <input type="text" [id]="" [value]="" class="field" />
          <input class="cb" type="checkbox" id="hubAdjust" />
          <span class="field">Hub Adjust</span>
          <input type="text" [id]="" [value]="" class="field" />
          <input class="cb" type="checkbox" id="hubOverhaul" />
          <span class="field">Hub Overhaul</span>
          <input type="text" [id]="" [value]="" class="field" />
        </ng-container>
      </div>
      <h3>Bearings</h3>
      <div class="fields" id="defaultFields">
        <input class="title cb" type="checkbox" id="extraSelectAll" />
        <span class="title title-text">Item</span>
        <span class="title title-text">Notes</span>
        <ng-container id="extraFields" class="row">
          <input class="cb" type="checkbox" id="hubs" />
          <span class="field">Hubs</span>
          <input type="text" [id]="" [value]="" class="field" />
          <input class="cb" type="checkbox" id="headset" />
          <span class="field">Headset</span>
          <input type="text" [id]="" [value]="" class="field" />
          <input class="cb" type="checkbox" id="bottomBracket" />
          <span class="field">Bottom Bracket</span>
          <input type="text" [id]="" [value]="" class="field" />
        </ng-container>
      </div>
      <h3>Drive Train</h3>
      <div class="fields" id="defaultFields">
        <input class="title cb" type="checkbox" id="extraSelectAll" />
        <span class="title title-text">Item</span>
        <span class="title title-text">Notes</span>
        <ng-container id="extraFields" class="row">
          <input class="cb" type="checkbox" id="chain" />
          <span class="field">Chain</span>
          <input type="text" [id]="" [value]="" class="field" />
          <input class="cb" type="checkbox" id="cassette" />
          <span class="field">Cassette</span>
          <input type="text" [id]="" [value]="" class="field" />
          <input class="cb" type="checkbox" id="chainrings" />
          <span class="field">Chainrings</span>
          <input type="text" [id]="" [value]="" class="field" />
          <input class="cb" type="checkbox" id="cranks" />
          <span class="field">Cranks</span>
          <input type="text" [id]="" [value]="" class="field" />
          <input class="cb" type="checkbox" id="shifters" />
          <span class="field">Shifters</span>
          <input type="text" [id]="" [value]="" class="field" />
          <input class="cb" type="checkbox" id="derailleurs" />
          <span class="field">Derailleurs</span>
          <input type="text" [id]="" [value]="" class="field" />
        </ng-container>
      </div>
      <h3>Cables</h3>
      <div class="fields" id="defaultFields">
        <input class="title cb" type="checkbox" id="extraSelectAll" />
        <span class="title title-text">Item</span>
        <span class="title title-text">Notes</span>
        <ng-container id="extraFields" class="row">
          <input class="cb" type="checkbox" id="gear" />
          <span class="field">Gear</span>
          <input type="text" [id]="" [value]="" class="field" />
          <input class="cb" type="checkbox" id="brake" />
          <span class="field">Brake</span>
          <input type="text" [id]="" [value]="" class="field" />
          <input class="cb" type="checkbox" id="dropper" />
          <span class="field">Dropper</span>
          <input type="text" [id]="" [value]="" class="field" />
        </ng-container>
      </div>
      <h3>Contact Points</h3>
      <div class="fields" id="defaultFields">
        <input class="title cb" type="checkbox" id="extraSelectAll" />
        <span class="title title-text">Item</span>
        <span class="title title-text">Notes</span>
        <ng-container id="extraFields" class="row">
          <input class="cb" type="checkbox" id="grips" />
          <span class="field">Grips/Bar Tape</span>
          <input type="text" [id]="" [value]="" class="field" />
          <input class="cb" type="checkbox" id="saddle" />
          <span class="field">Saddle</span>
          <input type="text" [id]="" [value]="" class="field" />
          <input class="cb" type="checkbox" id="pedals" />
          <span class="field">Pedals</span>
          <input type="text" [id]="" [value]="" class="field" />
        </ng-container>
      </div>
      <h3>Other Notes</h3>
      <div class="fields" id="defaultFields">
        <textarea class="text-area"></textarea>
      </div>
    </section>
    <section class="output-section">
      <div class="section-header fields-header">
        <h2>Booking Notes</h2>
      </div>
      <div class="fields" id="output">
        <textarea class="text-area" [value]="output"></textarea>
      </div>
    </section>
  </div>
</section>
