$btn-color: #fff;
$btn-hover-color: #eee;
$btn-active-color: #ddd;

.content {
  //display: flex;
  margin-top: 0;

  .section-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }

  .tab-header {
    width: 100%;
  }

  .field-section {
    margin-left: 10px;
    margin-right: 10px;
    grid-column: span 2;

    .fields-header {
      display: flex;

      .btn-unsaved {
        background-color: #ff984e;
      }
    }

    .group {
      display: grid;
      grid-template-columns: 0.5fr max-content;
      width: 98%;

      .group-field {
        margin: 1em 0 0 0;
        height: 1.6em;
        font-size: 1.3rem;
      }

      .delete-btn {
        height: 2.3em;
        width: max-content;
        margin: auto 1.8em 0 1.8em;
        font-size: 1rem;
      }
    }

    .edit-cb {
      min-height: 1.8em;
      min-width: 1.8em;
    }

    .fields {
      display: grid;
      grid-template-columns: max-content 1fr 1fr max-content;
      width: 98%;
      margin: 16px auto 16px auto;

      .title {
        border-bottom: 1px solid #666666;
      }

      .title-text {
        margin: 2px;
        text-align: center;
      }

      .move-cb {
        //margin: auto;
      }

      .field {
        padding: 3px 5px;
        margin: 2px;
      }

      .id {
        font-family: Consolas;
      }

      .text-area {
        grid-column: 1/-1;
        resize: vertical;
        overflow-x: auto;
      }

      .booking-text-area {
        grid-column: 1/-1;
        min-height: 250px;
        white-space: pre;
        resize: vertical;
        overflow-x: auto;
      }

      .delete-btn {
        height: 1.8em;
        width: 1.8em;
        margin: auto;
      }

      .add-field {
        grid-column: 1 / span 4;
        display: grid;
        grid-template-columns: max-content 1fr 1fr max-content;
        padding-top: 5px;
        margin-top: 5px;
        border-top: 3px dashed #ccc;

        .filler {
          min-height: 1.8em;
          min-width: 2.5em;
        }

        .add-btn {
          margin: 0 0.5em 0 0.25em;
          width: 3em;
        }
      }
    }
  }

  .alert {
    background-image: linear-gradient(150deg, #ffa50096, #ff0000a6);
  }

  .btn-caution {
    background-image: linear-gradient(150deg, #ffa50096, 75%, #b10101);
    border: 1px solid #666;
    &:disabled {
      background-image: linear-gradient(150deg, #d4d4d4, #8b8b8b);
      border: none;
    }
  }

  .btn-positive {
    background-image: linear-gradient(150deg, #7ff97f, 60%, #008d44);
    border: 1px solid #777;
  }

  .btn-action {
    background-image: linear-gradient(150deg, #00e7ff, 75%, #0027ff);
    border: 1px solid #777;
    &:disabled {
      background-image: linear-gradient(150deg, #d4d4d4, #8b8b8b);
      border: none;
    }
  }
}
